{{> navigation }}



<!-- Navigation -->


    <!-- Page Content -->
    <div class="container pt-4 mt-4">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="/images/pomo_thumbnail-01.jpg" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1 class="text-success text-left skranji-text">ABOUT POMO</h1>
          <h5 class="text-secondary text-left">Time and Behavior management application for students ages 4-10. Teachers can assign tasks with time limits to their students. The students are awarded with coins for completing tasks on time. 
            coins can be used to purchase items from an incentives store.  </h5>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">Sign up now to use our free application!</p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Create Classes</h2>
              <p class="card-text">Add a class and create a name and password(for student login). </p>
            </div>
            <div class="card-footer border-success">
              Step 1
             </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Add Students</h2>
              <p class="card-text">Manage your class by adding students and their unique student login id. You can 
                manage and see all of the students coins and task status once created.
              </p>
            </div>
            <div class="card-footer border-success">
              Step 2
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Assign Task</h2>
              <p class="card-text">Select the students you would like to assign a task. You will be prompted with task name, task description, timer minutes and coin value.
                This information will be displayed on student ui.  

              </p>
            </div>
            <div class="card-footer border-success">
              Step 3
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


